<h1>Bingo Was His Name-O</h1>

<%=form_tag('/manager/house/create', action: 'create', method: 'post') do%>
<%=label_tag :name, "House Name: "%>
<%=text_field_tag :name %>
<br>
<br>
<%=submit_tag%>
<%end%>
