<div class= "show">
  <h1><%=@house.name%></h1>
<br>
<h3>Current House Residents</h3>
<%@house.users.each do |u|%>
<p><h5><%=link_to u.name, user_path(u)%>     has    <%=u.points%> points</h5></p>
<%end%>

<br>
<br>
<br>
<%=link_to "View Goals For This House", goals_path%>

</div>
