<h1>Submit Daily Highlight</h1>

<%=form_for [@user, @highlight] do |f|%>
<%=f.text_area :content %>
<br>
<p><%=f.submit%></p>
<%end%>

<div class="show">
  <div id="created_highlights">
    <ul>
      
    </ul>

  </div>
</div>
