<h1>Submit Daily Highlight</h1>

<%=form_for [@user, @highlight] do |f|%>
<%=f.text_area :content %>
<br>
<p><%=f.submit%></p>
<%end%>

<div class="show">

  <h1><u>Here are all your Highlights</u></h1>
  <br><br>
  <div id="created_highlights">

      <%@user.highlights.each do|h|%>
        <h3><p><%=h.content%></p></h3>
        <%end%>
        <br><br>

  </div>
</div>
