
<div class="show">
<h1 id="username"><%=@user.name%><br></h1>


<h3><p id="userbio"><%=@user.bio%><%=@user.bio%><p></h3>
<a href="#" id="next" data-id="<%=@user.id%>">View Next Resident Bio</a>

</div>
