<div class="show">
  <h1>All House Mentors</h1><br>
  <%@mentors.each do |m|%>
  <p><h3><%=m.name%> - <%=m.house.name %></h3></p>
  <%end%>
  <div id="mentors">

  </div>

  <a href="/mentors" class="mentors">Load All Mentors</a>
</div
